body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    transition: filter 0.3s ease-in-out;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #31363F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calculator {
    background-color: #222831;
    border: 1px solid #76ABAE;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.calculator:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.cgpa-convert {
    font-size: 1rem;
}

.output-box {
    background-color: #31363F;
    border: 1px solid #76ABAE;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

input[type="number"] {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: 1px solid #76ABAE;
    border-radius: 5px;
    background-color: #222831;
    color: #EEEEEE;
}

button {
    padding: 10px 20px;
    background-color: #76ABAE;
    color: #222831;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #649b98;
}

.university-name a {
    font-size: 2.8rem;
    font-family: 'Tourney', sans-serif;
    color: #76ABAE;
    margin-top: 20px;
    animation: name-fade 1.5s ease-in-out;
}

.rules-button-container {
    margin-top: 20px;
}

footer {
    background-color: #31363F;
    color: #EEEEEE;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #76ABAE;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-content p {
    margin: 0;
}

.github-link {
    color: #76ABAE;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.github-link:hover {
    color: #649b98;
}

.github-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
